body {
    background: linear-gradient(135deg, #ff4e50, #1c1c88) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

header h1 {
    font-family: 'Chewy', cursive;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.subtitle {
    color: #fff;
    font-size: 1.2em;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.title-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
}

.rounded-header {
    border-radius: 25px;
}

.glass-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.glass-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.card-section {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0;
}

.card-section.show {
    max-height: 1000px; /* Altura suficiente para expandir */
    padding: 15px;
}
